<header class="absolute top-0 inset-x-0 site-padding-x py-site-xs flex justify-between items-end t-sm">
  
  <svg class="w-auto" style="height:2.25rem" viewBox="0 0 131 62" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M105.41 36.4828C103.955 36.1307 102.523 35.7785 101.067 35.4264C101.067 34.0178 101.067 32.6092 101.067 31.2006C97.4988 31.2006 93.9773 31.2006 90.4088 31.2006C90.4088 39.84 90.4088 48.4794 90.4088 57.1188C93.9538 57.1188 97.4753 57.1188 101.044 57.1188C101.044 55.7337 101.044 54.3251 101.044 52.893C102.499 52.5409 103.931 52.1887 105.41 51.8366C105.41 51.954 105.41 52.0479 105.41 52.1183C105.41 53.5269 105.387 54.959 105.41 56.3676C105.457 58.8326 103.438 60.8986 101.161 61.1803C100.926 61.2038 100.692 61.2273 100.457 61.2273C97.3579 61.2273 94.2355 61.2273 91.1366 61.2273C88.8124 61.2273 86.723 59.6543 86.136 57.4006C86.0421 57.0484 85.9952 56.6963 85.9952 56.3206C85.9952 48.1742 85.9952 40.0278 85.9952 31.8814C85.9952 29.5102 87.8733 27.4208 90.2445 27.1391C90.5027 27.1156 90.761 27.0921 91.0192 27.0921C94.1651 27.0921 97.3109 27.0921 100.433 27.0921C102.57 27.0921 104.401 28.3129 105.152 30.3084C105.316 30.7545 105.41 31.2475 105.434 31.717C105.457 33.2665 105.457 34.7925 105.457 36.342C105.434 36.3654 105.434 36.4124 105.41 36.4828Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M118.135 31.3179C115.294 31.3179 112.5 31.3179 109.707 31.3179C109.707 29.9093 109.707 28.5007 109.707 27.0921C116.797 27.0921 123.91 27.0921 131.023 27.0921C131.023 28.4773 131.023 29.8859 131.023 31.3179C128.23 31.3179 125.436 31.3179 122.619 31.3179C122.619 41.2955 122.619 51.2262 122.619 61.1803C121.14 61.1803 119.661 61.1803 118.158 61.1803C118.135 51.2497 118.135 41.319 118.135 31.3179Z" fill="black"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M78.5531 61.2038C77.0975 61.2038 75.642 61.2038 74.1864 61.2038C74.1864 49.8176 74.1864 38.4549 74.1864 27.0921C75.642 27.0921 77.0975 27.0921 78.5531 27.0921C78.5531 38.4549 78.5531 49.8176 78.5531 61.2038Z" fill="black"/>
    <path d="M64.3731 25.1905L62.8237 20.4247L40.7086 27.6086L42.2581 32.3744L64.3731 25.1905Z" fill="black"/>
    <path d="M39.9666 39.4631L35.9222 42.4039L49.5908 61.202L53.6352 58.2612L39.9666 39.4631Z" fill="black"/>
    <path d="M10.7523 58.2927L14.8138 61.2273L28.4537 42.4224L24.4158 39.4644L10.7523 58.2927Z" fill="black"/>
    <path d="M23.641 27.6321L1.54946 20.4482L0 25.214L22.115 32.3744L23.641 27.6321Z" fill="black"/>
    <path d="M42.2581 32.3744L40.7086 27.6086L34.6751 29.5806V0H29.6746V29.5806L23.641 27.6321L22.1151 32.3744L28.1251 34.3464L24.4158 39.4643L28.4538 42.4224L32.1866 37.281L35.9194 42.3989L39.9573 39.4643L36.2246 34.3464L42.2581 32.3744Z" fill="#9B5BA5"/>
  </svg>
  
  <ul class="flex">
   <li class="ml-site-ems-md">The Technology</li>
   <li class="ml-site-ems-md">Team</li>
   <li class="ml-site-ems-md">Partners</li>
   <li class="ml-site-ems-md">Timeline</li>
   <li class="ml-site-ems-md">Get in touch</li>
  </ul>

</header>