{% extends '_layout/master' %}
{% block content %}

  <div class="c-splash bg-grey-lighter site-padding-x py-site-sm flex items-end sm:justify-center sm:items-center">
    <div class="t-lg wysiwyg max-w-ems-xs sm:text-center">{{ entry.fieldLead }}</div>
  </div>
  <div id="tech"></div>

  {% set entryMatrix = entry.fieldContentMatrix %}
  {% if entryMatrix %}
    {% set articleMatrix = true %}
    {% include '_matrix' with { matrix: entryMatrix.all() } %}
  {% endif %}


{% endblock %}
