:root {

  /* BASE */
  --bg-color: theme('colors.background');
  --color: theme('colors.black');
  --transition: .3s;

  --scroll-out-duration: 500ms;
  --scroll-out-delay: 1500ms;
  --scroll-out-offset-x: 4rem;
  --scroll-out-offset-y: 2rem;

  --site-xs: 1.425rem;
  --site-sm: 2.5rem;
  --site-md: 3rem;
  --site-lg: 4rem;
  --site-xl: 5rem;

  --site-ems-xs: .33em;
  --site-ems-sm: .66em;
  --site-ems-md: 1.4em;

  --container-spacing-x: 2rem;
  --container-spacing-y: 3rem;
  @screen lg {
    --container-spacing-x: 2.5rem;
    --container-spacing-y: 4rem;
  }

  --grid-gap-x: 1.3rem;
  --grid-gap-y: 1.33rem; /*1.2*/
  @screen lg {
    --grid-gap-x: 1.6rem;
    --grid-gap-y: 1.875rem; /*1.4*/
  }
  
}